[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
tardis-dev = "*"
matplotlib = "*"
seaborn = "*"
scikit-learn = "*"
joblib = "*"
tensorflow = "*"

[dev-packages]
jupyter = "*"

[requires]
python_version = "3.12"
python_full_version = "3.12.6"
